[Unit]
Description=NGINX API

[Service]
ExecStart=/home/harmonic/api/nginx_api.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/harmonic/api

[Install]
WantedBy=multi-user.target